

body{
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    background-color: hsl(0, 0%, 92%)
}
title {
    font-size: 125%;
    margin: 0px;
}

tr {
    font-size: 18px;
}

th {
    text-align: center;
    background-color: hsl(207, 38%, 37%);
    color: hsl(0, 0%, 93%);
}

tr.mouseover {
    background-color: hsl(74, 43%, 65%);
}

td.hidden {
    width: 0px;
    display: none;
}

#birds {
    float: left;
    width: 40%;
    height: 95%;
    overflow-y: auto;
    /* margin-top: 1em; */
}

#birds table {
    width: 100%;
    margin-top: 1em;
    font-size: 18px;
}

#map {
    float: right;
    width: 60%;
    height: 95%;
    margin-top: 2em;
}

button {
    font-family: 'Philosopher', sans-serif;
    background-color: 8C705F;
    color: EDEDED;
    font-size: 15px;
    padding: 3px 6px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

h1{
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
    text-shadow: 1px 1px 2px grey;

}