title {
    font-size: 125%;
    margin: 0px;
}

th {
    text-align: center;
    background-color: hsl(207, 38%, 25%);
    color: hsl(0, 0%, 93%);
}

tr.mouseover {
    background-color: hsl(40, 100%, 51%);
}

td.hidden {
    width: 0px;
    display: none;
}

#birds {
    float: left;
    width: 40%;
    height: 95%;
    overflow-y: auto;
    margin-top: 1em;
}

#birds table {
    width: 100%;
    margin-top: 1em;
}

#map {
    float: right;
    width: 60%;
    height: 95%;
    margin-top: 2em;
}
